#!/usr/bin/env bash

# export TERRAFORM_WORKSPACE=jason-local-farm-runner
export TF_STATE_BUCKET="tf-serverless-jenkins-state-bucket"
export TF_STATE_OBJECT_KEY="serverless-jenkins.tfstate"
export TF_LOCK_DB="tf-serverless-jenkins-lock"
export AWS_REGION=us-west-2

PRIVATE_SUBNETS='["subnet-1","subnet-2"]'
PUBLIC_SUBNETS='["subnet-3","subnet-4"]'

export TF_VAR_route53_zone_id="ZID"
export TF_VAR_route53_domain_name="domain.com"
export TF_VAR_vpc_id="vpc-id"
export TF_VAR_efs_subnet_ids=${PRIVATE_SUBNETS}
export TF_VAR_jenkins_controller_subnet_ids=${PRIVATE_SUBNETS}
export TF_VAR_alb_subnet_ids=${PUBLIC_SUBNETS}